.one-admin-event-list-container {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(195, 194, 194);
    border-radius: 10px;

    margin: 5px 0;
    padding: 5px 10px;

    cursor: pointer;

    img {
        width: 100%;
        height: auto;
        max-width: 250px;
        max-height: 250px;
        border-radius: 5px;
    }

    display: grid;
    gap: 10px;
    place-items: center;

    @media screen and (min-width: 900px) {
        grid-template-columns: 250px 100px 1fr 1.5fr;
    }
}
.one-admin-event-list-container:hover {
    background-color: grey;
}