@use "../../assets/styles/common.scss" as *;

.custom-text-area {
    background-color: $text-field-bg-color;
    padding: 5px 10px;
    // height: 30px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
